* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.stopwatch {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 24px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

.timerDisplay {
    font-size: 50px;
    font-weight: 600;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #222831;
    transition: all 0.3s ease;
}

.social-links a:hover {
    background-color: #4ecca3;
}

.social-links img {
    width: 30px;
    height: 30px;
    color: white;
}

@media only screen and (max-width: 425px) {
    .timerDisplay {
        font-size: 25px;
    }

    .btn {
        font-size: 25;
        padding: 8px 16px;
        margin-inline: 8px;
    }
}